:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.wrapper {
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: var(--white);
  width: 300px;
  flex-wrap: wrap;

  text-align: center;
}

.image {
  object-fit: contain;
  width: 300px;
  border-radius: 1rem;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  padding: 1rem 0;
  color: var(--dark-blue);
}

h3 {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--light-gray);
}

@media only screen and (max-width: 400px) {
  .wrapper {
    width: 250px;
  }

  .image {
    width: 250px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
  }
}
